## Problem Statement 

Build the linear regression model using scikit learn in boston data to predict  'Price' based on other dependent variable. 

Here is the code to load the data:

In [55]:
import numpy as np 
import pandas as pd 
import scipy.stats as stats 
import matplotlib.pyplot as plt 
import sklearn 
from sklearn.datasets import load_boston 
boston = load_boston() 
x = pd.DataFrame(boston.data)

x.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [56]:
y = pd.DataFrame(boston.target)
y.head()

      0
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [57]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

# Data Preprocessing
### 1. Handeling the Null values.

In [58]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
dtype: int64

### Splitting the Data

In [59]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

### Model Creation

In [60]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [66]:
## Predicting the Test set results
y_pred = lr.predict(x_test)
np.set_printoptions(precision=3)

In [67]:
y_pred = np.array(y_pred)
y_test = np.array(y_test)

In [71]:
print("Preds  ; Actuals")
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)), axis=1))

Preds  ; Actuals
[[24.89  22.6  ]
 [23.721 50.   ]
 [29.365 23.   ]
 [12.122  8.3  ]
 [21.444 21.2  ]
 [19.283 19.9  ]
 [20.496 20.6  ]
 [21.361 18.7  ]
 [18.897 16.1  ]
 [19.928 18.6  ]
 [ 5.127  8.8  ]
 [16.387 17.2  ]
 [17.078 14.9  ]
 [ 5.594 10.5  ]
 [39.996 50.   ]
 [32.497 29.   ]
 [22.458 23.   ]
 [36.852 33.3  ]
 [30.864 29.4  ]
 [23.151 21.   ]
 [24.775 23.8  ]
 [24.672 19.1  ]
 [20.595 20.4  ]
 [30.354 29.1  ]
 [22.419 19.3  ]
 [10.233 23.1  ]
 [17.648 19.6  ]
 [18.274 19.4  ]
 [35.534 38.7  ]
 [20.961 18.7  ]
 [18.304 14.6  ]
 [17.793 20.   ]
 [19.966 20.5  ]
 [24.061 20.1  ]
 [29.102 23.6  ]
 [19.278 16.8  ]
 [11.155  5.6  ]
 [24.576 50.   ]
 [17.586 14.5  ]
 [15.495 13.3  ]
 [26.206 23.9  ]
 [20.863 20.   ]
 [22.315 19.8  ]
 [15.607 13.8  ]
 [23.004 16.5  ]
 [25.172 21.6  ]
 [20.115 20.3  ]
 [22.903 17.   ]
 [10.038 11.8  ]
 [24.285 27.5  ]
 [20.941 15.6  ]
 [17.353 23.1  ]
 [24.522 24.3  ]
 [29.951 42.8  ]
 [13.427 15.6  ]
 [21.727 21.7  ]
 [20.79  17.1  ]
 [15.497 17.2  ]
 [13.99  15.   ]
 [22.184 21.7  ]
 [17.73  18.6  ]
 [21.589 21.   ]
 [32.905 33.1  ]
 [31.112 31.5  ]
 [17.733 20.1  ]
 [32.764 29.8  ]
 [18.712 15.2  ]
 [19.787 15.   ]
 [19.03  27.5  ]
 [22.898 22.6  ]
 [22.96  20.   ]
 [24.026 21.4  ]
 [30.729 23.5  ]
 [28.831 31.2  ]
 [25.9   23.7  ]
 [ 5.233  7.4  ]
 [36.722 48.3  ]
 [23.773 24.4  ]
 [27.269 22.6  ]
 [19.295 18.3  ]
 [28.623 23.3  ]
 [19.18  17.1  ]
 [18.972 27.9  ]
 [37.824 44.8  ]
 [39.22  50.   ]
 [23.713 23.   ]
 [24.931 21.4  ]
 [15.885 10.2  ]
 [26.098 23.3  ]
 [16.688 23.2  ]
 [15.835 18.9  ]
 [13.108 13.4  ]
 [24.716 21.9  ]
 [31.252 24.8  ]
 [22.166 11.9  ]
 [20.251 24.3  ]
 [ 0.59  13.8  ]
 [25.442 24.7  ]
 [15.572 14.1  ]
 [17.937 18.7  ]
 [25.306 28.1  ]
 [22.373 19.8  ]]